.list-item{
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    min-height: 120px;
    cursor: pointer;
}
.my-pagination /deep/ .ngx-pagination .disabled{
    color: grey;
}