<form>

  <div class="form-group row">
    <label class="col-1 col-form-label" for="title">Title: </label>
    <div class="col-4">
      <input type="text" id="title" class="form-control">
    </div>
    <div class="col">
      <p class="text-danger col-form-label">
        Title field is required.
      </p>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-1 col-form-label" for="category">Category: </label>
    <div class="col-4">
      <select class="form-control" name="category" id="category">
        <option value="health">Health</option>
        <option value="life">Life</option>
        <option value="food">Food</option>
      </select>
    </div>
    <div class="col">
      <p class="text-danger col-form-label">
        Category field is required.
      </p>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-1 col-form-label" for="description">Description: </label>
    <div class="col-4">
      <textarea class="form-control" id="description" rows="5"></textarea>
    </div>
    <div class="col">
      <p class="text-danger col-form-label">
        Description field is required.
      </p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col offset-1">
      <button type="submit" class="btn btn-success">Save news</button>
      <button type="button" class="btn btn-secondary" routerLink="/home"> Go back </button>
    </div>
  </div>

</form>